/* gray : #4B4B4D
   Red: #ED3237  */
   body {
    background: #fff;
    color: #4B4B4D;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: "Times New Roman", Times, serif;
    margin-top: 0;
    line-height: inherit;
    letter-spacing: .1px;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
 .main_container{
  padding-top: 97px;
} 
/* Preloder Start */
.preloader
{   background-color:#f7f7f7;
    width:100%;height:100%;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:999999;
    -webkit-transition:.6s;
    -o-transition:.6s;
    transition:.6s;
    margin:0 auto}
.preloader .preloader-circle{
    width:100px;
    height:100px;
    position:relative;
    border-style:solid;
    border-width:1px;
    border-top-color:#ff1f1f;
    border-bottom-color:black;
    border-left-color:#ff1f1f;
    border-right-color:black;
    z-index:10;
    border-radius:50%;
    -webkit-box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    box-shadow:0 1px 5px 0 rgba(35,181,185,0.15);
    background-color:#fff;
    -webkit-animation:zoom 2000ms infinite ease;
    animation:zoom 2000ms infinite ease;
    -webkit-transition:.6s;
    -o-transition:.6s;transition:.6s}
.preloader .preloader-circle2{
    border-top-color:#657588}
    .preloader .preloader-img{
        position:absolute;
        top:50%;
        z-index:200;
        left:0;
        right:0;
        margin:0 auto;
        text-align:center;
        display:inline-block;
        -webkit-transform:translateY(-50%);
        -ms-transform:translateY(-50%);
        transform:translateY(-50%);
        padding-top:6px;
        -webkit-transition:.6s;
        -o-transition:.6s;
        transition:.6s}
     .preloader .preloader-img img{max-width:55px;margin-left: 30%;} 
    .preloader .pere-text strong{
        font-weight:800;color:#dca73a;text-transform:uppercase}
        @-webkit-keyframes zoom{
            0%{-webkit-transform:rotate(0deg);
                transform:rotate(0deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}
            100%{
                -webkit-transform:rotate(360deg);
                transform:rotate(360deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}}
        @keyframes zoom{
            0%{-webkit-transform:rotate(0deg);
                transform:rotate(0deg);
                -webkit-transition:.6s;
                -o-transition:.6s;transition:.6s}
            100%{-webkit-transform:rotate(360deg);
                transform:rotate(360deg);-webkit-transition:.6s;-o-transition:.6s;transition:.6s}}


/* Preloder End */
/* About-Us Start */
#about-banner{
    width: 100%;
    height: 450px;
    position: relative;
    opacity: 3;
}
#about-img{
    position: absolute;
    width: 100%;
    z-index: 1;
}
#about-img img{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.9;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
    filter: blur(5px);
}
#about-text{
    position: absolute;
    opacity: 2;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
    color: #4B4B4D;
    font-size: larger;
    z-index: 2;
    text-align: center;
    width: 80%;
}
#about-data p{
    position: absolute;
    z-index: 2;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 12%;
     font-size: 25px; 
}

#heading{
    text-align: center;
    margin-top: -4%;
    letter-spacing: 2px;
    justify-content: space-around;
}
#discover_heading{
    position: relative;
font-family: 'thisregular';
font-size: 75px;
font-size: 7vw;
font-weight: 400;
letter-spacing: 0;
text-transform: none;
padding: 0 0;
margin: 0 -72px -40px;
color: teal;
}
#discover_heading #heading_big {
    top: 9px;
    position: relative;
    top: 10px;
    font-size: 1.22em;
    padding: 0 72px;
    margin: 0 -72px;}
#secondry_heading{
position: relative;
z-index: 1;
margin: 0 -.1em 0 0;
letter-spacing: .1em;
margin-top: 1.4%;
}
.separator--flower {
    margin: 24px 0;
    font-size: 17px;
    font-family: Serif;
    color: #9a9998;}
    /* For Mobile */
@media only screen and (max-width:500px) {
  #about-banner{
    width: 100%;
    height: 950px;
  }
  #about-img{
      width: 100%;
  }
  #about-img img{
      opacity: 0;
      width: 100%;
  }
  #secondry_heading{
    margin-top: 10.4%;
    font-size: 10vw;
  }
  #discover_heading{
      margin-left: 6%;
    font-size: 20vw;
  }
  #about-data{
      width: 100%;
      padding-top: 30%;
  }
  #about-data h2{
      margin-left: 10%;
      margin-right: 10%;

  }
  #about-text{
      /* width: 89%; */
      margin-left: -4% !important;
      /* margin-right: 0% !important; */
  }
  #secondry_heading{
      margin-left: 40%;
  }
  .separator--flower{
    margin-left: 25%;
    margin-top: 2%;
  }
}
/* For Tablet */
@media only screen and (max-width:1024px) {
  
    
}

/* About-Us End */
/* Why US */
.why-us{
    margin-top: 0%;
    width: 100%;
    height: 526px;
    background-image: url(../images/why-us.jpeg);
    position: relative; 
}
#why-us-top-slant{
    position: absolute;
    width: 100%;
    height: 250px;
}
#why-us-top-slant img{
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
}
#why-us-text{
    background-color: transparent;
    margin-top: -10%;
}
#why-us-text h2{
    color: #a27b3e;
    font-size: 80px;
}
#why-us-text p{
  color:lightgoldenrodyellow;
  font-size: 20px;
  margin-left: 20%;
  margin-right: 20%;
}
/* sustainability */
.slant_a_why_us{
  width: 100%;
  height: 1072px;
  /* background-color: tomato; */
  position: relative;
  z-index: 1;
}
.sustainability{
  width: 100%;
  height: 350px;
  background: #ECE9E6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  /* margin-top: 39%; */
}
.sust_img{
  width: 50%;
  float: left;
  height: 190px;
  /* background-color: pink; */
  position: absolute;
  /* margin-top: -3%; */
}
.sust_img img{
  width: 100%;
  height: 350px;

}
.sust_slant_1{
  position: absolute;
  width: 38%;
  height: 15px;
  background: inherit;  /* fallback for old browsers */
}
.sust_slant_1::after{
  position: absolute;
  width: 38%;
  height: 100%;
  content: '';
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(-125deg);
  margin-left:120%;
  margin-top: 43.5%;
}
.sust_slant_2{
  margin-top: 19.5%;
  position: absolute;
  width: 100%;
  height: 15px;
  background: inherit;  /* fallback for old browsers */
  
}
.sust_slant_2::after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background:black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(4deg);
}

.sust_text{
  width: 50%;
  float: right;
  margin-top: 8%;
}
.sust_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  color: teal;
}
.sust_text p{
  margin-left: 25%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: black;
}
.quality{
  width: 100%;
  height: 350px;
  background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  margin-top: 25%;
}
.qlity_img{
  width: 56%;
  float: right;
  height: 190px;
  /* background-color: pink; */
  position: absolute;
  margin-left: 44%;
}
.qlity_img img{
  width: 100%;
  height: 350px;

}
.qlity_text{
  width: 50%;
  float: left;
  margin-top: 8%;
}
.qlity_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  margin-left: -6%;
  color: teal;
}
.qlity_text p{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: black;
}
.qlity_slant_1{
  position: absolute;
  width: 38%;
  height: 15px;
  background: inherit; 
}
.qlity_slant_1::after{
  position: absolute;
  width: 38%;
  height: 100%;
  content: '';
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top right;
  transform: skewY(125deg);
  margin-left:120%;
  margin-top: -10%;
}
#qlity_slant_2{
  margin-top: 13%;
}
/* .capacity_slant_2{
  margin-top: %;
} */
.capacity{
  width: 100%;
  height: 381px;
  background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: absolute;
  margin-top: 50%;
}
.capacity_img{
width: 50%;
  float: left;
  height: 190px;
  /* background-color: pink; */
  position: absolute;
  /* margin-top: -3%; */
}
.capacity_img img{
  width: 100%;
  height: 350px;

}
.capacity_slant_2 img{
  margin-top: 11%;
  width: 100%;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
}

#capacity_slant_1{
  margin-top: 21%;
}
.capacity_text{
  width: 50%;
  float: right;
  margin-top: 10%;
}
.capacity_text h2{
  text-align: center;
  font-size: 60px;
  margin-top: -9%;
  color: teal;
}
.capacity_text p{
  margin-left: 15%;
  margin-right: 10%;
  margin-top: 2%;
  font-size: 20px;
  color: black;
}
.exp_more_btn{
  display: block;
  padding: 15px;
  /* margin: 0 -15px 0; */
  margin-left: 35%;
  margin-top: -2%;
  text-decoration: none !important;
}
.exp_more_text{
  position: relative;
  width: 50%;
  height: 40px;
  background-color: #00a4d0;
  background-image: linear-gradient(124.69deg, rgba(255, 255, 255, 0) 31.34%, rgba(255, 255, 255, 0.5) 49.95%, rgba(255, 255, 255, 0) 72.28%);
  background-size: 61px 100%;
  background-repeat: no-repeat;
  border-radius: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  pointer-events: all;
  cursor: pointer;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.25);
  font-family: "Avenir LT", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: all 0.3s ease-out;
  animation-name: product-order-button-light;
  animation-duration: 7s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}
@keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
@-webkit-keyframes product-order-button-light {
  0% {
      background-position: -62px 0;
  }
  25% {
      background-position: 200% 0;
  }
  100% {
      background-position: 200% 0;
  }
}
.exp_more_text:hover{
  background-color: #a27b3e;
  color: #ffffff;
}
#exp_more_btn_id{
  margin-left: 30%;
}
.inquiry{
  width: 100%;
  height: 250px;
  background-color: transparent;
  position: relative;
}
.style_logo{
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: 3%;
}
.style_logo img{
  width: 100%;
  height: 200px;
  margin-left: 0%;
}
/* .style_logo::after{
content: "";
background: url(../images/dont-trail-behind-bg.png);
width: 100%;
height: 87px;
position: absolute;
left: 0;
right: 0;
/* bottom: 30px; 
} */
.inq_button{
position: relative;
-webkit-appearance: none;
padding: 0;
width: 244px;
border: none;
background: #A3060E;
border-radius: 19px;
font-family: "Avenir LT", sans-serif;
font-size: 18px;
line-height: 38px;
font-weight: 750;
text-transform: uppercase;
color: #fff;
transition: all 0.2s ease-out;
cursor: pointer;
margin: 90px auto 0;
text-align: center;
}
/* Why Us End */
/* For Mobile */
@media only screen and (max-width:500px) {
    #why-us-top-slant img{
      height: 100px;
    }
    .why-us{
        height: 850px;
    }
    
  }
  /* For Tablet */
  @media only screen and (max-width:1024px) {
    
      
  }
  
  /* About-Us End */