
.mySlides {display: none;}
#circle_img_rotate{
  vertical-align: middle;
  width: 20%;
  height: 152px;
  margin-left: 45%;
  margin-top: 13%;
  /* background-color: tomato; */
}
#circle_div{
  background-color: yellow;
  height: 200px;
  width: 100%;
  position: relative;
  z-index: 999;
  margin-top: 21%;
  
}
/* Slideshow container */
.slideshow-container {
  width: 100%;
position: absolute;
height: 357px;
/* background-color: tomato; */
margin: auto;
    margin-top: auto;
z-index: 1000;
margin-top: 19%;
}
.yello_flower{
  background-image: url(../assets/images/bloom-big.png);
  content: "";
  position: absolute;
  top: 32%;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: 85% auto;
  background-position: center center;
  z-index: 10;
}


/* Caption text */
.text_1 {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  /* transition: background-color 0.6s ease; */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 50s;
  animation-name: fade;
  animation-duration: 50s;
}

@-webkit-keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .9} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text_1 {font-size: 11px}
}
